/*This CSS is the part of dropdown css it's only for demo page specific*/

*{ font-family:Arial, Helvetica, sans-serif; font-size:14px}
.fr{float:right}
.fl{float:left}
h1,h2,h3,h4,h5,h6,p,ul,li,pre{ margin:0; padding:0;}
.wrap {overflow:hidden; background-color:#FDFDFD; padding:15px ; margin-top:20px;border:3px solid;border-color: -moz-use-text-color #fff #fff; border-bottom:0; border-right:0; border-left:0}
a { text-decoration:none }
.vImp { float:right; margin-right:15px }
h1 { margin-bottom:15px; font-size:24px }
h2 { margin-bottom:10px }
/*When you specify to show tag in saparate container*/
.tagContainer { display:none; margin-bottom:15px; min-height:30px; border: 1px dotted #444444; list-style:outside none; overflow: hidden; padding:5px; max-width:300px; _width:400px; _margin-left:0 }
/*******************Lightbox*********************/
.delTxt{ margin:0 10px 0 4px; line-height: 25px}
.layer { position:absolute; top:0; left:0; background:#000; width:100%; left:0; filter:Alpha(opacity=60); opacity:0.6; z-index:1000; height:100% }
.contId { position:absolute; z-index:1001; display:none; padding:15px 8px 50px 60px; background:#fff }
.viewout1 { display:none }
body { width:100% }
a { color:#444 }
div.section { margin:0 auto; width:1024px; overflow:hidden; }
.ddwn { font-size: 14px; margin-right:5px }
.dspN { display:none }
.dspB { display:block }
.light { background:padding-box #fff; border:15px solid; box-shadow: 0 0 25px #fff; border-color: -moz-use-text-color rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.65) }
/*Tabbing*/
.tabNavCont { padding:10px 0 0 }
.tabsNav { height:27px }
.tabsNav li { float:left; list-style-type:none; border:#d6d6d6 solid 1px; border-width:1px 1px 0 }
.tabsNav li a { color:#444; text-decoration:none; font-size:14px; padding:5px; display:block }
.tabsNav li.sel { background:#4ca5de }
.tabsNav li.sel a { color:#fff; font-weight:bold }
.tabPanelCont { border:#d6d6d6 solid 1px; background:#fff; padding:3px }
.tabPanel { background:#eee; padding:10px }
.tabPanel-hide { display:none }
.tabPanel-show { display:block }
.cross { float:right; background-color:red; text-align:center; height:20px; cursor:pointer; width:20px; color:#FBFBFB; border-radius:3px }
.clr { background:#fff; min-height: 0; /* ie7*/ _zoom: 1 /*ie6*/ }
.clr:after { content: ""; height: 0; clear: both; display: block }
code span { color:#ff00ff }
code { color:#656565 }
table span { color:#4CA5DE;  display: inline-block }
td{ line-height:22px}
.evPlug{ background-color:#909090; color:#fff; display:block; padding:0 8px 8px 8px}
.oddPlug{ background-color:#d5d5df; display:block; padding:0 8px 8px 8px}
.f18{ font-size:18px}
.ml30{ margin-left:30px}
table th,table td{ text-align:left}

#tab5 table{ border-collapse:collapse}
#tab5 table th{ text-align:left; background-color:#999; color:#FFF; padding:6px 0 6px 3px}
#tab5 table td{border-bottom:1px solid #d7d7d7;height:35px; padding-left:3px}

/*Header*/
.grd,.DD_updates ul li { line-height:20px; background-color:#fff;}
header{background-position:0 0; border-bottom:#668292 solid 5px; padding:20px 0 0;}
.naukLogo{;min-width: 480px;width:50%;background:url(../i/naukri-logo.png) 0 0 no-repeat;  height:55px; float:left}
header nav{float:right; margin:25px 0 0; font-size:16px} header nav a{color:#fff; float:left; padding:7px 15px; border-top-right-radius:6px; border-top-left-radius:6px; margin:3px 3px 0;background:#688595;background: -moz-linear-gradient(top,  #84b2cd,  #668393);}
header nav a:hover{background:#688595; color:#fefefe;text-shadow: #2b4e61 1px 1px 0; border-top-left-radius:5px;border-top-right-radius:5px; -moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;background: -moz-linear-gradient(top,  #84b2cd,  #668393)}


.wrapper{ padding:0 5px; overflow:hidden; max-width:1024px; margin:0 auto; min-width:360px}
.drop li a{outline:none}
.demo a{color:#F0F}
.Allparam tr:nth-child(even){background-color:#DFDFDF}
.link{ color:#00F}
.brown{ color:brown}
.sp20{ clear:both; height:20px}
.cl{ clear:both; height:1px}
.green{ color:#0C0;font-size: 11px}


/*DD_updates section*/
.DD_updates{ width:270px; margin-top:16px}
.DD_updates h1{ font-size:18px}
.DD_updates ul{ border:1px solid #C3DFEF; box-shadow:0 0 8px #CCC; margin-top:15px}
.DD_updates ul li{ list-style:none; padding:5px 3px 5px 8px; padding-bottom:5px}
.DD_updates .date{ font-size:11px; color:#909090; float:right;}
.DD_updates .head{font-size:14px}
.DD_updates .param{color:#00c93d}
.DD_updates .bug{ color:#fdc14c}
.DD_updates table{ border:1px solid #CCC; border-collapse:collapse; margin-top:5px; margin-bottom:5px}
.DD_updates table th{ background-color:#666; color:#FFF; padding:3px; text-align:center;}
.DD_updates table td{padding:3px; text-align:center;  border:1px solid #CCC}
.DD_updates .working{ color:#F0F; margin-left:5px;}
